body {
  background-image: url(https://static.vecteezy.com/ti/gratis-vektor/t2/2909372-luxus-abstrakt-banner-hintergrund-moderne-geometrische-formen-an-d-gold-linie-kunst-tapete-design-fur-website-drucke-cover-hintergrund-wandkunst-und-wanddekoration-vektor.jpg);
  background-size: auto;
  font-size: 20px;
}
.title {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: red green;
}
.logo {
  margin-left: 400px;
}
.grid {
  display: grid;
  grid-template-columns: 1.1fr 1fr 0.5fr;
}
.move {
  margin-top: 120px;
}
.texta {
  color: black;
  text-decoration: none;
}
.text {
  text-size-adjust: 200px;
}
.textr {
  text-size-adjust: 200px;
  color: red;
}
.textg {
  text-size-adjust: 200px;
  color: green;
}
.tage {
  text-decoration: underline;
}
.table {
   display: grid;
   place-items: center;
  font-size: 35px;
  border-width: 0px;
}
.border-in-table{
  margin-top: 3%;
  border-width:2px
}
.table td {
  border-width: 2px;
}
.table th {
  border-width: 2px;
}
.center {
  text-align: center;
}
.grid2 {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.6fr 0.5fr;
}
.grid3 {
  display: grid;
  grid-template-columns: 900px 300px;
}
.dieser-text {
  color: red;
  border-color: yellowgreen;
  border-style: dotted;
  border-width: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: yellow;
  border-radius: 10px;
  text-decoration: underline;
  text-decoration-color: blue;
}
.zurueck {
  position: absolute;
  margin-top: 3px;
  font-size: x-large;
}
.relative {
  position: relative;
}
.big {
  font-size: large;
}
.bredex-helix {
  display: grid;
  place-items: center;
}
.spon {
  position: relative;
}
@keyframes orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#spin {
  animation: orbit 10s infinite ease-in-out;
}
@keyframes drive {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(1300px);
  }
}
.auto {
  animation: drive 3s linear infinite;
}
.spin {
  animation: orbit 10s infinite ease-in-out;
}
.down {
  margin-top: 58px;
}
.grid-wetter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.invisible {
  display: none;
}
.grid-quiz {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.move-down {
  margin-top: 14%;
}
.tag11-center{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

}
@keyframes wut {
  0% {
    top: 0px;
    left: 0px;
  }
  16% {
    top: 10px;
    left: 10px;
  }
  32% {
    top: -10px;
    left: -10px;
  }
  48%{
    top:0px;
    left:0px
  }
  64%{top:-10px;
      left:10px}
  80%{top:10px;
      left:-10px}
  100%{top:0px;
       left:0px}

}
#wut {
  animation: wut 0.1s infinite; position: relative;
}